@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  --accent--color: #fefd5a;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #e6e4d5;
  height: 100vh;
  border: 0.5em solid black;
  border-radius: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

.logo {
  display: inline-block;
  font-weight: 400;
  font-size: 1.3em;
  cursor: pointer;
  padding-left: 1em;
}

.links {
  display: flex;
  align-items: center;
}

ul {
  font-weight: 300;
  font-size: 1em;
  background-color: black;
  clip-path: polygon(0px 0px, 96% 0px, 92.84% 90%, 5% 90%);
  margin-top: -20px;
}

a {
  color: white;
  font-weight: 200;
}

ul,
li,
a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 0.5em 5em 0.3em 5em;
}

ul li:not(:last-child) {
  padding-right: 30px;
}

.hidden {
  opacity: 0;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding-right: 1em;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
  transition: 0.4s;
}

.hamburger::before {
  transform: translateY(-8px) rotate(0deg);
}

.hamburger::after {
  transform: translateY(8px) rotate(0deg);
}

.hamburger.open {
  background-color: #e6e4d5;
}
.hamburger.open::before {
  transform: translateY(0px) rotate(45deg);
}

.hamburger.open::after {
  transform: translateY(0px) rotate(-45deg);
}

header.menu-open {
  background-color: black;
}

@media screen and (max-width: 1478px) {
  header {
    display: block;
  }
  .links {
    background-color: black;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding: 1em 0;
  }

  .links {
    display: none;
    width: 100%;
  }

  .links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: black;
  }

  ul li:not(:last-child) {
    padding-right: 0px;
  }

  ul li {
    padding: 1em 0;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 2.5em;
    right: 1em;
  }
}

/* grid area */
.container {
  padding: 3em 2em 0 2em;
  display: grid;
  height: max-content;
  grid-template-columns: 2fr 0.5fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "mainText mainText sideImage"
    "mainImage roundText sideImage"
    "mainImage quoteText quoteText";

  grid-gap: 1em;
}

.title__text {
  background-color: red;
  text-transform: uppercase;
  font-size: 8em;
  font-weight: 700;
  line-height: 1;
  grid-area: mainText;
}

.side__image {
  background-color: #fefd5a;
  grid-area: sideImage;
}

.main__image {
  background-color: green;
  grid-area: mainImage;
}

.rounded__text {
  background-color: blue;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  height: 7em;
  width: 7em;
  position: relative;
  grid-area: roundText;
}

.rounded__text p {
  position: absolute;
  width: 100%;
  height: 100%;
  /* animation: rotate; */
}

.rounded__text p span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 3.5em;
}

.inner__image {
  position: absolute;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: chocolate;
}

.quote__text {
  background-color: chocolate;
  grid-area: quoteText;
}

@media only screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "mainText"
      "mainImage"
      "quoteText "
      "roundText"
      "sideImage";
  }

  .title__text {
    font-size: 3.5em;
    text-wrap: wrap;
  }
}
