@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  --accent--color: #fefd5a;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #e6e4d5;
  height: 100vh;
  border: 0.5em solid black;
  border-radius: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}

.logo {
  display: inline-block;
  font-weight: 400;
  font-size: 1.3em;
  cursor: pointer;
  padding-left: 1em;
}

.links {
  display: flex;
  align-items: center;
}

ul {
  font-weight: 300;
  font-size: 1em;
  background-color: black;
  clip-path: polygon(0px 0px, 96% 0px, 92.84% 90%, 5% 90%);
  margin-top: -20px;
}

a {
  color: white;
  font-weight: 200;
}

ul,
li,
a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 0.5em 5em 0.3em 5em;
}

ul li:not(:last-child) {
  padding-right: 30px;
}

.hidden {
  opacity: 0;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding-right: 1em;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
  transition: 0.4s;
}

.hamburger::before {
  transform: translateY(-8px) rotate(0deg);
}

.hamburger::after {
  transform: translateY(8px) rotate(0deg);
}

.hamburger.open {
  background-color: #e6e4d5;
}
.hamburger.open::before {
  transform: translateY(0px) rotate(45deg);
}

.hamburger.open::after {
  transform: translateY(0px) rotate(-45deg);
}

header.menu-open {
  background-color: black;
}

@media screen and (max-width: 1478px) {
  header {
    display: block;
  }
  .links {
    background-color: black;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding: 1em 0;
  }

  .links {
    display: none;
    width: 100%;
  }

  .links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: black;
  }

  ul li:not(:last-child) {
    padding-right: 0px;
  }

  .links a:hover {
    color: var(--accent--color);
  }
  ul li {
    padding: 1em 0;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 2.5em;
    right: 1em;
  }
}

/* grid area */
.container {
  padding: 3em 2em 0 2em;
  display: grid;
  height: 90vh;
  grid-template-columns: 2fr 0.5fr 1fr;
  grid-template-rows: 2fr 0.5fr 1.5fr;
  grid-template-areas:
    "mainText mainText sideImage"
    "mainImage roundText sideImage"
    "mainImage quoteText quoteText";

  grid-gap: 1em;
}

.title__text {
  text-transform: uppercase;
  font-size: 8em;
  font-weight: 700;
  line-height: 1;
  grid-area: mainText;
}

.side__image {
  grid-area: sideImage;
  height: 3em;
  width: 3em;
}

.side__image img {
  height: 23em;
  margin-left: -2em;
}

.main__image {
  height: 3em;
  width: 3em;
  grid-area: mainImage;
}
.main__image img {
  height: 19em;
}

.rounded__text {
  cursor: pointer;
  margin-top: -7em;
  margin-left: -9em;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  height: 10em;
  width: 10em;
  position: relative;
  grid-area: roundText;
}

.rounded__text p {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}

.rounded__text p span {
  position: absolute;
  left: 50%;
  font-size: 1.3em;
  font-weight: 200;
  transform-origin: 0 4em;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.inner__image {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: url(./assets/boom.png);
  background-size: cover;
}

.quote__text {
  z-index: 100;
  background-color: white;
  grid-area: quoteText;
  border: 1px solid black;
  width: 53em;
  margin-left: -15em;
}

.quote__text h3 {
  padding: 0.2em 2em 0.3em 0.2em;
  border: 1px solid black;
  z-index: 0;
  position: absolute;
  background-color: white;
  margin-top: -2em;
}

.quote__text p {
  font-weight: 300;
  font-size: 1.5em;
  padding: 0.2em 0em 0 0.3em;
}

.quote__text p span {
  font-style: italic;
}

.quote__text button {
  cursor: pointer;
  margin: 1em 1em 0 0;
  background-color: var(--accent--color);
  border: none;
  padding: 1em 1.5em;
  align-items: end;
}

@media only screen and (max-width: 750px) {
  body {
    height: min-content;
  }
  section {
    height: fit-content;
    padding-bottom: 2em;
  }
  .container {
    height: fit-content;
    padding: 0 3em;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 2.5fr;
    grid-template-areas:
      "mainText"
      "mainImage"
      "quoteText";
    gap: 5em;
  }

  .title__text {
    font-size: 3.5em;
    width: 6em;
  }

  .main__image {
    margin-top: -3em;
    padding: 0;
    text-align: center;
  }

  .main__image img {
    height: 13em;
    margin: 0 auto;
    display: inline-block;
  }

  .rounded__text {
    display: none;
  }

  .side__image {
    display: none;
  }

  .quote__text p {
    padding: 0 1em;
  }
  .quote__text {
    display: block;
    width: 21em;
    margin-left: 0em;
  }
}
